.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
  transform: translate(-50%, -10px);
  opacity: 1;
}

.foto-inicio {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  width: 100%;
}

.login-color {
  color: white;
}

.login-color:hover {
  color: black;
}
.login-color:focus {
  color: black;
}

.button-dog {
  color: black;
}
.button-dog:hover {
  color: #62a281;
}
.button-dog:focus {
  color: #62a281;
}

.padding-image {
  padding-top: 30px;
}
/*cards dog*/

.contenedor {
  position: relative;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease-out;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  /* width: 40%; */
  flex-wrap: wrap;
}

.contenedor-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 40px;
}

.contenedor-cards .contenedor-card-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 25%;
  margin: 1%;
  width: 500px;
  padding-bottom: 30px;

  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  cursor: help;
}

.contenedor-cards .contenedor-card-item:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}

.contenedor-card-item-wrapper {
  overflow: hidden;
  position: relative !important;
  background: #3e2723;
  border-radius: 5px;
}

.contenedor-card-item img {
  max-width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 5px;
  width: 100%;
}

.contenedor-card-item .contenedor-info {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: -70px;
  padding-bottom: 120px;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-card-item .contenedor-info .fondo {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.73) 53%,
    rgba(0, 0, 0, 0.88) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.73) 53%,
    rgba(0, 0, 0, 0.88) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.73) 53%,
    rgba(0, 0, 0, 0.88) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contenedor-card-item .contenedor-info .info {
  color: #fff;
  position: relative;
  z-index: 500;
  padding: 20px 15px;
}

.contenedor-card-item .contenedor-info .info .titulo {
  margin: 0;
  font-size: 20px;
}

.contenedor-card-item .contenedor-info .info .categoria {
  display: block;
  font-size: 10px;
}

.contenedor-card-item:hover .contenedor-info {
  bottom: 0;
}

.contenedor-card-item:hover img {
  top: -30px;
  -webkit-transform: rotate(-5deg) scale(2);
  -ms-transform: rotate(-5deg) scale(2);
  -o-transform: rotate(-5deg) scale(2);
  transform: rotate(-5deg) scale(2);
}

@media screen and (max-width: 900px) {
  .contenedor-card-item:hover img {
    top: -30px;
    -webkit-transform: rotate(-5deg) scale(1.3);
    -ms-transform: rotate(-5deg) scale(1.3);
    -o-transform: rotate(-5deg) scale(1.3);
    transform: rotate(-5deg) scale(1.3);
  }

  .contenedor-card-item .contenedor-info {
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .contenedor {
    width: 95%;
  }

  .contenedor-cards .contenedor-card-item {
    width: 48%;
    margin: 1%;
  }
}

@media screen and (max-width: 550px) {
  .contenedor-cards .contenedor-card-item {
    width: 60%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 480px) {
  .contenedor {
    width: 90%;
  }

  .contenedor-cards .contenedor-card-item {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .contenedor {
    width: 100%;
  }
}

/*CARD MEETING*/
/* .cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-right: 70px;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}


/* FontAwesome for working BootSnippet :> */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.format-w {
  width: 80%;
}

.flex-meetings {
  display: flex;
}
.Button-meeting {
  color: #007b5e;
}

.Button-meeting {
  color: black;
}
.Button-meeting:hover {
  color: #007b5e;
}
.Button-meeting:focus {
  color: #007b5e;
}
.center-button {
  justify-content: center;
}

.image-margin {
  margin-top: 20px;
}

.park-center-cards {
  width: 45%;
  display: flex;
  margin-left: 30px;
  margin-bottom: 30px;
}
.park-text-center {
  text-align: center;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  margin-bottom: 12px;
}
ul {
  padding: 13px;
}

.color-meetings {
  /* border: 2px solid #33a2ff; */
  color: #33a2ff !important;
  border-bottom: 1px solid #33a2ff !important;
}
.photo-center {
  display: flex;
  justify-content: center;
}

.photo-img-park {
  width: 70%;
}

.foto-parks {
  width: 497px;
  height: 332px;
}
